body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(to bottom, #e0f7fa, #80deea);
}

.header {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 32px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 20%;
    max-width: 30%;
    padding: 0 4px;
    padding-bottom: 8px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

@media screen and (orientation: portrait) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

@media screen and (orientation: landscape) and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (orientation: landscape) and (min-width: 801px) {
    .column {
        flex: 20%;
        max-width: 25%;
    }
}